monolog:
    channels:
        - app
        - email
        - scheduler
    handlers:
        symfony:
            type: rotating_file
            path: "%kernel.logs_dir%/%kernel.environment%-symfony.log"
            level: debug
            channels: [ "!event", "!scheduler", "!email", "!app" ]
            max_files: 10
        app:
            type: rotating_file
            path: "%kernel.logs_dir%/%kernel.environment%-app.log"
            level: debug
            channels: [ "app" ]
            max_files: 10
        console:
            type: console
            process_psr_3_messages: false
            channels: [ "!event", "!doctrine", "!console" ]
        emails:
            type: rotating_file
            path: "%kernel.logs_dir%/%kernel.environment%-email.log"
            channels: [ "email" ]
            level: debug
            max_files: 10
        scheduler:
            type: rotating_file
            path: "%kernel.logs_dir%/%kernel.environment%-scheduler.log"
            channels: [ "scheduler" ]
            level: debug
            max_files: 10

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [ 404, 405 ]
                channels: [ "!event" ]
            nested:
                type: rotating_file
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                max_files: 10

when@prod: &prod
    monolog:
        handlers:
            symfony:
                type: fingers_crossed
                handler: symfony_nested
                channels: [ "!event", "!scheduler", "!email", "!app" ]
                excluded_http_codes: [ 404, 405 ]
            symfony_nested:
                path: "%kernel.logs_dir%/%kernel.environment%-symfony.log"
                type: rotating_file
                max_files: 35
            console:
                channels: [ "!event", "!doctrine" ]
            app:
                type: rotating_file
                path: "%kernel.logs_dir%/%kernel.environment%-app.log"
                level: info
                channels: [ "app" ]
                max_files: 35
            emails:
                type: rotating_file
                path: "%kernel.logs_dir%/%kernel.environment%-email.log"
                channels: [ "email" ]
                level: info
                max_files: 35
            scheduler:
                type: rotating_file
                path: "%kernel.logs_dir%/%kernel.environment%-scheduler.log"
                channels: [ "scheduler" ]
                level: info
                max_files: 35
