[tasks.sa]
description = "Static Analysis via PhpStan"
run = [
    "php vendor/bin/phpstan --memory-limit=4G analyze"
]
[tasks.test]
description = "Tests via Pest"
run = [
    "php vendor/bin/phpunit"
]
[tasks.cs]
description = "Code Style via PHP CS Fixer"
run = [
    "php vendor/bin/php-cs-fixer fix"
]
[tasks.rector]
description = "Refactoring via Rector"
run = [
    "php vendor/bin/rector"
]
